@{
    ViewBag.Title = "Home Page";
}
<h2>Нотатки</h2>
<h5><a href="/Home/Create/">Додати</a></h5>
<div class="row">
    @foreach (var n in ViewBag.Notates)
    {
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">@n.title</h3>
                    <p class="card-text">@n.note</p>
                    <hr />
                    <a href="/Home/ChangeN/@n.id">Редагувати</a>
                    <a href="/Home/Delete/@n.id">Видалити</a>
                </div>
            </div>
        </div>
    }

</div>
<hr />
<h2>Події</h2>
<h5><a href="/Home/CreateE/">Додати</a></h5>
<div class="row alert-light">
    @foreach (var e in ViewBag.Events)
    {
        <div class="col-md-4">
            <h3>@e.e_title</h3>.
            <p>@e.e_date</p>
            <a href="/Home/ChangeN/@e.id">Керувати подією</a>
        </div>
    }
</div>
<hr />
<h2>Завдання</h2>
<h5><a href="/Home/Create/">Додати</a></h5>
<div class="row">
    @foreach (var t in ViewBag.Tassks)
    {
        if (t.T_check == false)
        {
            <div class="col-md-4 alert-dark">
                <h3>@t.T_title</h3>.
                <p>@t.T_desc</p>
                <p>@t.T_data</p>
                <a href="/Home/ChangeN/@t.TaskId">Керувати завданням</a>
            </div>
        }
        else
        {
            <div class="col-md-4">
                <h3>@t.T_title</h3>.
                <p>@t.T_desc</p>
                <p>@t.T_data</p>
                <a href="/Home/ChangeN/@t.TaskId">Керувати завданням</a>
            </div>
        }              
    }
</div>

<!---<div class="row">
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div-->
